<tr>
          <td scope="row" class="text-nowrap">

            <a href="#" type="button"
              class="btn btn-outline-dark-green btn-sm p-1 m-0 waves-effect">
              <span class="value">0</span>
              <i class="fas fa-thumbs-up ml-1"></i>
            </a>
            <a href="#" button" class="btn btn-outline-danger btn-sm p-1 m-0 waves-effect">
              <span class="value">0</span>
              <i class="fas fa-thumbs-down ml-1"></i>
            </a>
          </td>
          <td class="text-start">
            <a href="#" class="font-weight-bold blue-text">
              Styling in the Shadow DOM With CSS Shadow Parts
            </a>
            <div class="my-2">
              <a href="#" class="blue-text">
                <strong>MDBootstrap</strong>
              </a>
              <span class="badge bg-secondary mx-1">staff</span><span
                class="badge bg-primary mx-1">pro</span><span
                class="badge bg-warning mx-1">premium</span>
              <span>a year ago</span>
              <div></div>
            </div>
          </td>
          <td>
            <a href="#" class="text-dark">
              <span>0</span>
              <i class="fas fa-comments ml-1"></i>
            </a>
          </td>
        </tr>