<div class="col-sm-2">
{# <iframe src="/my_folders/iframe" title="W3Schools Free Online Web Tutorials"></iframe>#}

  <hr class="d-sm-none">

{#    {% include folders/folders.html %}#}
    <script>
    $(function() {

// delegated handler
$(".list-group-tree").on('click', "[data-toggle=collapse]", function(){
  $(this).toggleClass('in')
	$(this).next(".list-group.collapse").collapse('toggle');

  // next up, when you click, dynamically load contents with ajax - THEN toggle
  return false;
})
    $(".list-group-tree").on('click', "[data-toggle=collapse]", function(){
  $(this).toggleClass('in')
	$(this).next(".list-group.collapse").collapse('collapse');

  // next up, when you click, dynamically load contents with ajax - THEN toggle
  return false;
})

});
    </script>
</div>