<!-- that how will a website look like -->
{%include elements/header.html%}

<body>
{%include elements/top-navbar.html%}

<div class="container-fluid mt-5">
  <div class="row">

    {%include elements/side-navbar.html%}
    <div class="col-sm-10">

        {%include content/folders.html %}

    </div>
  </div>
</div>

<div class="mt-5 p-4 bg-dark text-white text-center">
  <p>Footer</p>
</div>
<script>
$(function() {

// delegated handler
$(".list-group-tree").on('click', "[data-toggle=collapse]", function(){
  $(this).toggleClass('in')
	$(this).next(".list-group.collapse").collapse('toggle');

  // next up, when you click, dynamically load contents with ajax - THEN toggle
  return false;
})

});
</script>

</body>

{%include elements/footer.html%}
