.max-width {
max-width: 100%
}

.container-center{
height: 100%;
align-content: center;
}

.card{
height: auto;
margin-top: auto;
margin-bottom: auto;
width: 600px;
background-color: rgb(255,255,255) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FE0557;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: black;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FE8B05;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: black;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FE8B05;
width: 100px;
}

.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: black;
}

.links a{
margin-left: 4px;
}

.advanced {
    text-decoration: none;
    font-size: 15px;
    font-weight: 500
}

.btn-secondary,
.btn-secondary:focus,
.btn-secondary:active {
    color: #fff;
    background-color: #00838f !important;
    border-color: #00838f !important;
    box-shadow: none
}

.advanced {
    color: #00838f !important
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #00838f
}

.width-full {
    width: 100%
}